@font-face {
    font-family: 'harry_pregular';
    src: url('../assets/harryp__-webfont.eot');
    src: url('../assets/harryp__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/harryp__-webfont.woff') format('woff'),
         url('../assets/harryp__-webfont.ttf') format('truetype'),
         url('../assets/harryp__-webfont.svg#harry_pregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

#sorting-form {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

#announcement {
    position: absolute;
    z-index: 1;
    top: 36%;
    right: 30%;
    font-size: 100px;
    text-align: center;
    font-family: 'harry_pregular', 'fantasy';
    color: white;
}